# ---- Twitter API / consumer keys
# aka consumer API Key / secret
tracery_bot_consumer_key="FILL_ME_IN"
tracery_bot_consumer_secret="FILL_ME_IN"

tracery_bot_access_token="FILL_ME_IN"
tracery_bot_access_token_secret="FILL_ME_IN"
tracery_bot_bearer_token="FILL_ME_IN"

# aka consumer API Key / secret
open_ai_bot_consumer_key="FILL_ME_IN"
open_ai_bot_consumer_secret="FILL_ME_IN"

open_ai_bot_access_token="FILL_ME_IN"
open_ai_bot_access_token_secret="FILL_ME_IN"
open_ai_bearer_token="FILL_ME_IN"

# Open AI API access
OPENAI_API_KEY="FILL_ME_IN"
OPEN_AI_SYSTEM_PROMPT="FILL_ME_IN"
OPEN_AI_USER_PROMPT="FILL_ME_IN"


# web request auth info
AUTH_USER="FILL_ME_IN"
AUTH_PASSWORD="FILL_ME_IN"

SEND_TWEETS=True




